<template name="footerView">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Contribute</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="#">Deutsch</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
