<template name="headerView">
  <div id="header" class="{{headerClass}}">
    <div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Welcome Dinner</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Search</a></li>
              <li>
                {{#if user}}
                <a href="/profile/edit">{{user.profile.firstname}}</a>
                {{else}}
                <a href="/login"><button class="btn btn-login">Login</button></a>
                {{/if}}
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
  </div>
</div>
</template>
