<head>
  <title>Welcome Dinner Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:url" content="http://welcomedinner.com" />
  <meta property="og:image" content="http://welcomedinner.com/images/seo/og-img.jpg" />
  <meta property="og:title" content="Welcome Christmas Dinner" />
  <meta property="og:site_name" content="Welcome Christmas Dinner" />
  <meta property="og:description" content='Connecting refugees and cultural guests to Christmas dinners around the world' />

  <meta name="description" content="Connecting refugees and cultural guests to Christmas dinners around the world" />
  <meta name="keywords" content="refugess, christmas dinner, welcome dinner, invite for dinner, invite a refugee" />

  <script src="https://use.typekit.net/fha2znd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>

</body>
<template name="layout">
    {{ > headerView}}
    {{ > contentView}}
    {{ > footerView}}
</template>
