<template name="mainLandingView">
  <div class="landing-page">

    <video autoplay="true" loop="true" muted="" id="video">
        <source src="/video/hero.mp4" type="video/mp4">
        <source src="/video/hero.webm" type="video/mp4">
    </video>

    <div class="content-container">
      <h1>Welcome Dinner</h1>
      <div class="subtitle">
        Break the fear. Invite foreign guests for dinner.
      </div>
      <div class="buttons-container">
        <button class="btn btn-primary">Host</button>
        <button class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</template>
