<template name="profileEditView">
  <div class="profile-edit-container container">

    <div class="profile-image">{{image}}</div>

    <div class="form-group">
      <label for="profile-firstname">First Name</label>
      <input type="text" id="profile-firstname" class="form-control" placeholder="First Name" value="{{firstname}}">
    </div>

    <div class="form-group">
      <label for="profile-lastname">Last Name</label>
      <input type="text" id="profile-lastname" class="form-control" placeholder="Last Name" value="{{lastname}}">
    </div>

    <div class="form-group">
      <label for="profile-lastname">Free spots at the table</label>
      <input type="number" id="profile-spots" class="form-control" placeholder="Free spots at the table" value="{{spots}}">
    </div>

    <div class="form-group">
      <label for="profile-story">About the dinner</label>
      <input type="number" id="profile-story" class="form-control" placeholder="About the dinner" value="{{story}}">
    </div>

    <div class="form-group">
      <label for="profile-story">Phone Number</label>
      <p>This information will be exposed only after match is confirmed</p>
      <input type="number" id="profile-contact" class="form-control" placeholder="Phone Number" value="{{contact.phone}}">
    </div>

    <div class="form-group">
      <label for="profile-story">Address</label>
      <p>This information will be exposed only after match is confirmed</p>
      <input type="number" id="profile-address" class="form-control" placeholder="Address" value="{{contact.address}}">
    </div>
    {{#if autocomplete}}
      <input id="autocomplete" placeholder="Enter your address" type="text">\
    {{/if}}

    {{> googleMap name="exampleMap" options=exampleMapOptions}}

  </div>
</template>
