<template name="searchResultsItemView">
  <div class="results-item max-width-medium container">
    <div class="row vertical-align">
      <div class="col-xs-3">
        <div class="img">

        </div>
      </div>
      <div class="col-xs-6">
        <h4 class="person-name">{{profile.firstname}} {{profile.lastname}}</h4>
        <div class="person-details">
          <div>{{profile.guestCount}} Guest, Diet: {{profile.diet}}</div>
          <div class="person-story">{{profile.story}}</div>
        </div>
      </div>
      <div class="col-xs-3">
          <a href="/conversation/{{_id}}"><button class="btn btn-primary btn-chat">
            {{#if equals profile.type "guest"}}
              Invite {{profile.firstname}} for dinner
              {{else}}
              Chat with {{profile.firstname}}
            {{/if}}
          </button></a>
      </div>
    </div>
  </div>
</template>
