<template name="searchFormView">
<div class="search-form container">
  <form>
    <div class="form-group">
      <label for="search-input">
        {{#if user}}
        {{#if equals user.profile.type "host"}}
          Search for guests
          {{else}}
          Search for hosts
        {{/if}}
        {{else}}
        Search for <a href="#">hosts</a>/<a href="#">guests</a> in
        {{/if}}
      </label>
      <input type="text" name="search" id="search-input" class="form-control" placeholder="Your location">
    </div>
  </form>
</div>
</template>
