<template name="searchResultsView">
  <div class="search-results-container container">
    <h1 class="text-center">
      {{#if isGuest}}
      Hosts around you
      {{/if}}
      {{#if isHost}}
      Invite Guests around you
      {{/if}}
    </h1>
    <div class="user-location text-center">
      {{#if equals results.length 0}}
      Sorry, couldn't find anyone around {{user.profile.locationName}}.<br>
      {{else}}
      {{user.profile.locationName}}
      {{/if}}
      <small class="location-change"><a href="/profile/edit">Not your location?</a></small>
    </div>
    {{#each results}}
      {{> searchResultsItemView}}
    {{/each}}
  </div>
</template>
