$red: #E46662;
$blue: #1D3A4C;
$green: #74AE9F;


body {
  font-family: "proxima-nova", sans-serif;
  background: $red;
}
h1 {
  font-size: 70px;
}
.container {
  text-align: center;
  // background: $green;
  color: $blue;
}
